<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'time_display_app/css/style.css'%}">
</head>
<body>
    <h1>The Current Date and Time is!</h1>
    <h1 class="time">{{time}}</h1>
    <h3>Moment of silence for the ones who were injured, lost their life or lost a loved one in the 9/11 Attack.</h3>
</body>
</html>